
<ion-content class="container">
  
  
  <div class="card">
      <img src="./../../assets/register-data.svg" alt="">

      <ion-card>
        <ion-card-header>
          <img src="../../assets/Ellipse 4.png" alt="">
          <h5>Adriana Santos - 27 anos</h5>
          <ion-card-subtitle>705.986.587-98</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
         Rocha Cavalcante, R. Florianopolis - 720.
        </ion-card-content>
      </ion-card>

  </div>

</ion-content>
