img {
  padding-top: 120px;
  padding-left: 20px;
  width: 282px;
}

ion-row {
  padding-top: 50px;
}

.input-login {
  border-radius: 10px;
  border-bottom: 2px;
}

.container-login {
  padding-top: 70px;
}

ion-button {
  padding-top: 30px;
  width: 300px;
  height: 85px;
}

.container-input {
  padding-top: 10px;
}
