
<ion-content  class="container">
  <div class="card">
      <img src="./../../assets/list-calender.svg" alt="">
      <h1>EVENTOS</h1>
      <div  *ngFor="let evento of eventos" class="card-info">
        <div class="hours">
          <h6>{{evento.hours}}</h6>
          <p>{{evento.date}}</p>
        </div>
        <div class="line"></div>
        <div class="info">
          <h5>{{evento.name}}</h5>
          <p>{{evento.description}}</p>
          <div class="img-local">
            <img src="../../assets/local.png" alt="">
            <p>{{evento.type}}</p>
          </div>
        </div>

        <div class="action">
          <button >
            <img src="../../assets/Eye.png" alt="">
          </button>
          <button>
            <img src="../../assets/Edit.png" alt="">
          </button>
          <button (click)="delete(evento.id)">
            <img src="../../assets/Delete.png" alt="">
          </button>
         
        </div>
      </div>
     
  </div>
</ion-content>
