
<ion-content class="container">
  <div class="card">
      <img src="./../../assets/list-calender.svg" alt="">

      <div class="card-info">
        <div class="hours">
          <h6>15:30h</h6>
          <p>17:00h</p>
        </div>
        <div class="line"></div>
        <div class="info">
          <h5>Evento</h5>
          <p>Descição do evento</p>
          <div class="img-local">
            <img src="../../assets/local.png" alt="">
            <p>local</p>
          </div>
        </div>

        <div class="action">
          <button>
            <img src="../../assets/Edit.png" alt="">
          </button>
          <button>
            <img src="../../assets/Delete.png" alt="">
          </button>
         
        </div>
      </div>
     
  </div>
</ion-content>
