<ion-content>
  <ion-item>
    <ion-label position="floating">Nome do evento</ion-label>
    <ion-input [(ngModel)]="name" [disabled]="disabledInput()"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição do evento</ion-label>
    <ion-input [(ngModel)]="description" [disabled]="disabledInput()"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Tipo</ion-label>
    <ion-input [(ngModel)]="type" [disabled]="disabledInput()"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Formato</ion-label>
    <ion-input [(ngModel)]="format" [disabled]="disabledInput()"></ion-input>
  </ion-item>


  <ion-item>
    <input [(ngModel)]="date" type="date" [disabled]="disabledInput()">
  </ion-item>
  <ion-item>
    <input [(ngModel)]="hour" type="time" [disabled]="disabledInput()">
  </ion-item>

  <ion-button (click)="cancelModal()">Voltar</ion-button>
  <ion-button (click)="createUpdateCalendar()" [disabled]="disabledInput()">Salvar Evento</ion-button>
</ion-content>