<ion-content>
  <ion-item>
    <ion-label position="floating">Nome do evento</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descrição do evento</ion-label>
    <ion-input></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Tipo</ion-label>
    <ion-input></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Formato</ion-label>
    <ion-input></ion-input>
  </ion-item>


  <ion-item>
    <input type="date">
  </ion-item>
  <ion-item>
    <input type="time">
  </ion-item>

  <ion-button (click)="cancelModal()">Cancelar</ion-button>
  <ion-button (click)="createCalendar()">Criar</ion-button>
</ion-content>